/* src/components/MapBase.css */
/* MAP BASE */
.map-base-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.interact-btn {
    font-family: "ArcadeClassic", sans-serif;
    font-size: 1rem;
    padding: 10px 25px;
    text-align: center;
    animation: blink 0.3s infinite;
    border-radius: 5px;
    cursor: pointer;
}

.map-base-table {
    display: inline-block;
}

.row {
    display: flex;
}

/*  CELLS */
.cell {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background-image: url("../assets/floor3.png"); /* Relative path from the public folder */
    background-size: cover;
    background-repeat: no-repeat;
    /* Adjust the duration and timing function as needed */
}

.cell.solid-block {
    background-image: url("../assets/block.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.cell.player {
    background-image: url("../assets/GIFS/IDLE/alien front.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

.cell.npc {
    background-image: url("../assets/robot_front.gif");
    background-size: cover;
    background-repeat: no-repeat;
    /* background displays black for some reason, and it should be transparent, fix it */
    background-color: transparent;
}

.cell.tp-open-metal {
    background-image: url("../assets/tps/floor+tp(firstmap_open).png");
    background-size: cover;
    background-repeat: no-repeat;
}

.cell.tp-closed-metal {
    background-image: url("../assets/tps/floor+tp(firstmap_close).png");
    background-size: cover;
    background-repeat: no-repeat;
}

.cell.tp-open-mud {
    background-image: url("../assets/tps/mud+tp(secondmap_open).png");
    background-size: cover;
    background-repeat: no-repeat;
}

.cell.tp-closed-mud {
    background-image: url("../assets/tps/mud+tp(secondmap_close).png");
    background-size: cover;
    background-repeat: no-repeat;
}

.cell.border {
    background-image: url("../assets/spike border.png"); /* Relative path from the public folder */
    background-size: cover;
}

.cell.border-left {
    transform: rotate(90deg);
}

.cell.border-right {
    transform: rotate(-90deg);
}

.cell.border-top {
    transform: rotate(180deg);
}

.cell.border-bottom {
    transform: rotate(0deg); /* Optional, defaults to no rotation */
}

/* CHARACTHER MODEL */
.cell.player-up {
    background-image: url("../assets/GIFS/MOVING/alien front(move+blink).gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

.cell.player-down {
    background-image: url("../assets/GIFS/MOVING/alien back(move+blink).gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

.cell.player-left {
    background-image: url("../assets/GIFS/MOVING/alien left(move+blink).gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

.cell.player-right {
    background-image: url("../assets/GIFS/MOVING/alien right(move+blink).gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

.cell.player-left,
.cell.player-right {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

/* CELLS-BOSS ARENA */
.boss-tile {
    background-image: url("../assets/mud_tile.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.cell.boss {
    background-image: url("../assets/boss.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

/* MODAL-ARENA AND SAFE AREA */
.no-scroll {
    overflow: hidden;
}

/* MODAL-ARENA AND SAFE AREA */
.modal {
    @apply fixed inset-0 flex items-center justify-center bg-black bg-opacity-50;

}

.modal-content {
    @apply bg-white p-4 rounded-lg shadow-lg w-full max-w-md h-auto overflow-y-auto relative;
    background-image: url("../assets/bigframe.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
}


.alien-npc-name {
    font-family: "ArcadeClassic", sans-serif;
    font-size: 1.2rem;
    color: white;
    text-shadow: 2px 2px 2px black;
    animation: blink 0.3s infinite;
    text-decoration: underline;
}

.alien-npc-box {
    padding: 20px;
    font-family: "ArcadeClassic", sans-serif;
    font-size: 1rem;
    color: white;
    text-shadow: 2px 2px 2px black;
    animation: blink 0.3s infinite;
}

.alien-npc-image {
    width: 100px;
    height: 100px;
    background-image: url("../assets/map3_assets/xeno.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.cell.water-decoration {
    background-image: url("../assets/map3_assets/water.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.close {
    @apply absolute top-2 right-2 cursor-pointer text-xl;
}

.cell.egg-decoration {
    background-image: url("../assets/map3_assets/xenoegg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-safe-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.modal-safe-area p {
    font-family: "ArcadeClassic", sans-serif;
    font-size: 1.1rem;
}

.modal-content-safe-area {
    /* white background with low opacity */
    background-color: rgb(255, 255, 255, 0.3);
    padding: 5px;
    border-radius: 5px;
    border: 5px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* MODAL BUTTONS */
.button-wrapper {
    @apply flex justify-around mb-4;
}

/* MODAL-WRAPPERS */
.player-img {
    width: 55px;
    height: 55px;
    background-image: url("../assets/GIFS/IDLE/alien front.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.player-img-wrapper {
    background-image: url("../assets/card_frame.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enemy-img {
    width: 55px;
    height: 55px;
    background-image: url("../assets/robot_front.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.enemy-img-wrapper {
    background-image: url("../assets/card_frame.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-wrapper {
    @apply flex justify-between;
}

.player-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @apply text-center;
    font-family: "ArcadeClassic", sans-serif;
    background-image: url("../assets/player_backcard.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    background-position: center;
}

.arcade-font-modal {
    font-family: "ArcadeClassic", sans-serif;
}

.player-status h3 {
    font-size: 1.2rem;
    color: white;
    animation: blink 0.3s infinite;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

.player-status p {
    font-size: 1rem;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    animation: blink 0.3s infinite;
}

.enemy-status {
    @apply text-center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    font-family: "ArcadeClassic", sans-serif;
    background-image: url("../assets/enemy_backcard.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-left: 10px solid black;
}

.enemy-status h3 {
    font-size: 1.2rem;
    color: white;
    animation: blink 0.3s infinite;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

.enemy-status p {
    font-size: 1rem;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    animation: blink 0.3s infinite;
}

.boss-img {
    width: 55px;
    height: 55px;
    background-image: url("../assets/boss.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.boss-arena-wall {
    background-image: url("../assets/wall.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* ATTACK BTN */
.attack-modal-btn {
    @apply bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700 transition-colors;
    margin-right: 5px;
}

.attack-modal-btn:hover {
    background-color: darkred;
    transition: 0.5s;
}

.attack-modal-btn:active {
    transform: translateY(5px);
}

.map-border {
    background-image: url("../assets/spike border.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* DEFEND BTN */
.defend-modal-btn {
    @apply bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 transition-colors;
    margin-right: 5px;
}

.defend-modal-btn:hover {
    background-color: darkgreen;
    transition: 0.5s;
}

.defend-modal-btn:active {
    transform: translateY(5px);
}

/* CLOSE BTN */
.close-modal-btn {
    @apply bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-700 transition-colors;
}

.close-modal-btn:hover {
    background-color: rgb(66, 66, 66);
    transition: 0.5s;
}

.close-modal-btn:active {
    transform: translateY(5px);
}

/* SAFE ZONE */
.safe-zone-tile {
    background-image: url("../assets/map3_assets/map3floor.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.safe-zone-border-pipeline {
    background-image: url("../assets/map3_assets/longpipe (1).png");
    background-size: cover;
    background-repeat: no-repeat;
}

.safe-zone-border-pipeline-left-down {
    background-image: url("../assets/map3_assets/edge left down.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.safe-zone-border-pipeline-bottom {
    background-image: url("../assets/map3_assets/longpipe (1).png");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(270deg);
}

.safe-zone-border-pipeline-top {
    background-image: url("../assets/map3_assets/longpipe (1).png");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(90deg);
}

.safe-zone-border-pipeline-right {
    background-image: url("../assets/map3_assets/longpipe (1).png");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.safe-zone-border-pipeline-left-up {
    background-image: url("../assets/map3_assets/edge left up.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.safe-zone-border-pipeline-right-up {
    background-image: url("../assets/map3_assets/edge right up.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.safe-zone-border-pipeline-right-bottom {
    background-image: url("../assets/map3_assets/edge right down.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.safe-zone-border-pipeline-left-bottom {
    background-image: url("../assets/map3_assets/edge left down.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.tower-upper {
    background-image: url("../assets/map3_assets/half tower up.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.tower-lower {
    background-image: url("../assets/map3_assets/half tower down.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.xeno-npc {
    background-image: url("../assets/map3_assets/xenompoph.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* ATTACKED ANIMATION */
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-8px);
    }
    75% {
        transform: translateX(8px);
    }
    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.5s;
}

/* media queries for cells to fit mobile */
@media screen and (max-width: 768px) {
    .modal-content {
        @apply p-6 w-full h-full;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .status-wrapper {
        @apply p-4;
    }

    .modal-combat-header {
        @apply text-lg mt-6;
    }
}

@media (max-width: 600px) {
    .cell {
        @apply w-9 h-9;
    }
}
